# ENV files
*.env

# Vscode
.vscode

# Python
__pycache__
venv
*.egg-info


# Taskfile
.task

# Work directories
app
data
tests-output
# pytest junit output
junit

# code coverage
coverage.xml
.coverage
htmlcov

# Secrets
credentials.json
token.json

# mkdocs
/public